anthropic==0.75.0
datasets==2.15.0
gradio==6.2.0
langchain==1.2.0
langchain_google_genai==4.1.2
mistralai==1.10.0
numpy==2.4.0
openai==2.14.0
pandas==2.0.1
Requests==2.32.5
tiktoken==0.4.0
tqdm==4.67.1
z3_solver==4.15.3.0